@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.header {
  background-color: #3D3D3D;
  width: 100%;
}
.header__body {
  padding: 14px 0px 16px 0px;
  display: flex;
  justify-content: space-between;
}
.header__nav {
  margin: 10px 0px 0px 0px;
}
.header__link {
  color: #fff;
  margin: 0px 70px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.header__link:last-child {
  margin: 0px 0px 0px 0px;
}
.header__tel {
  margin: 10px 0px 0px 0px;
  color: #fff;
}

.button {
  background: #DE0111;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
.button__frame {
  width: 128px;
  height: 33px;
}
.button__banner1 {
  width: 283px;
  height: 44px;
  margin: 130px 0px 0px 0px;
  position: relative;
  z-index: 2;
}
.button__slider {
  width: 150px;
  height: 36px;
}
.button__technologies {
  width: 168px;
  height: 42px;
}
.button__video {
  width: 364px;
  height: 42px;
  background: #345995;
  margin: 34px 0px 0px 0px;
}
.button__mikea {
  width: 160px;
  height: 42px;
}
.button__mikea1 {
  width: 190px;
  height: 42px;
  background: #345995;
}
.button__timing1 {
  width: 242px;
  height: 42px;
  background: #DE0111;
  margin: 0px 20px 0px 0px;
}
.button__timing2 {
  width: 170px;
  height: 42px;
  background: #345995;
}
.button__details {
  height: 45px;
  width: 261px;
  padding: 12px 0px 0px 0px;
}
.button__details span {
  margin: 0px 0px 0px 7px;
}
.button__rent-red {
  height: 50px;
  width: 230px;
  margin: 0px 20px 0px 0px;
}
.button__rent-blue {
  height: 50px;
  width: 160px;
  background: #345995;
}
.button__orderframe {
  height: 45px;
  width: 230px;
}
.button__mainform {
  height: 50px;
  width: 280px;
}

.slider {
  max-width: 1110px;
}
.slider__item {
  display: flex;
  max-width: 1110px;
  max-height: 450px;
  margin: 0 auto;
  padding: 70px 108px 70px 114px;
  position: relative;
}
.slider__item-quotes {
  position: absolute;
  top: 32px;
  left: 60px;
}
.slider__item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 120%;
  color: #3D3D3D;
}
.slider__item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #696969;
  margin: 19px 0px 0px 0px;
}
.slider__item-main {
  display: flex;
  justify-content: space-between;
  margin: 35px 0px 0px 0px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider2__item {
  max-width: 1095px;
  max-height: 724px;
  position: relative;
}

.slider__item_decision {
  margin: 38px auto 0px;
  background: #3459951f;
  position: relative;
  width: 1095px;
  height: 724px;
}

.slider__item_decision-body {
  position: absolute;
  top: -50px;
  left: 0;
}
.slider__item_decision-plashka {
  background: #DE0111;
  border-radius: 5px;
  height: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  display: inline-flex;
  padding: 0px 22px 0 22px;
  align-items: center;
  cursor: pointer;
}
.slider__item_decision-plashka_besedka {
  top: 33%;
  left: 15%;
}
.slider__item_decision-plashka_mikea5 {
  top: 20%;
  left: 38%;
}
.slider__item_decision-plashka_banya {
  top: 47%;
  left: 27%;
}
.slider__item_decision-plashka_naves {
  top: 34%;
  left: 71%;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

.block {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(61, 61, 61, 0.08);
  border-radius: 6px;
}

.frame {
  height: 52px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.frame p {
  margin: 0px 30px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3D3D3D;
}

.banner1 {
  position: relative;
  width: 100%;
  height: 360px;
  background: url("../images/banner1/01.png") no-repeat;
  padding: 24px 0px 0px 40px;
}
.banner1__opaciti {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
}
.banner1__head {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
}
.banner1__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 0px 15px 0px 0px;
}
.banner1__novinka {
  width: 124px;
  height: 30px;
  background: #345995;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.banner1__subtitle {
  position: relative;
  z-index: 2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  color: #FFFFFF;
  margin: 7px 0px 0px 0px;
}

.lineup2021 {
  padding: 58px 0px 0px 0px;
}
.lineup2021__info {
  display: flex;
  align-items: flex-end;
}
.lineup2021__items {
  margin: 2px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lineup2021__item {
  width: 420px;
  margin: 40px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  position: relative;
}
.lineup2021__item-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  color: #3D3D3D;
  display: flex;
  justify-content: space-between;
}
.lineup2021__item-body {
  background: #FFFFFF;
  padding: 23px 20px 22px 20px;
  box-shadow: 0px 0px 10px rgba(61, 61, 61, 0.08);
  border-radius: 6px;
}
.lineup2021__item-sber {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  color: #21A038;
  margin: 15px 0px 0px 0px;
}
.lineup2021__item-sber-logo {
  background: url("../images/lineup2021/sber_logo.png") no-repeat;
  padding: 0px 0px 0px 20px;
}
.lineup2021__item-area {
  width: 78px;
  height: 30px;
  background: #DE0111;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  position: absolute;
  top: 16px;
  right: 20px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #3D3D3D;
  margin: 0px 30px 0px 0px;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  color: #8C8C8C;
}

.done {
  display: flex;
  margin: 70px 0px 0px 0px;
}
.done__info {
  padding: 30px 90px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.done__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #3D3D3D;
}
.done__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #3D3D3D;
  padding: 0px 0px 0px 0px;
}

.reviews {
  margin: 70px auto 0px;
  max-width: 1110px;
  position: relative;
}

.technologies {
  margin: 0px 0px 32px 0px;
}
.technologies__info {
  display: flex;
  padding: 70px 0px 0px 0px;
  align-items: flex-end;
  margin: 0px 0px 48px 0px;
}
.technologies__main {
  display: flex;
}

.technologies-brick {
  flex: 0 1 50%;
  margin: 0px 40px 0px 0px;
}
.technologies-brick:last-child {
  margin: 0px 0px 0px 0px;
}
.technologies-brick__info {
  width: 324px;
  height: 50px;
  background: #3459951f;
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #345995;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}
.technologies-brick__info img {
  margin: 0px 15px 0px 0px;
}
.technologies-brick__body {
  display: flex;
  padding: 30px 0px 30px 0px;
  height: 260px;
}
.technologies-brick__body-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
}
.technologies-brick__body-p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #696969;
}
.technologies-brick__body-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 305px;
}

.video {
  padding: 36px 35px 50px 35px;
  text-align: center;
}
.video__body {
  display: flex;
  justify-content: space-between;
}
.video__item {
  flex: 0 1 30%;
  max-width: 408px;
}
.video__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 0px 0px 38px 0px;
  width: 314px;
  text-align: left;
}
.video__iframe {
  width: 408px;
  height: 230px;
}

.mikea1 {
  padding: 40px 0px 49px 35px;
  margin: 70px 0px 0px 0px;
}
.mikea1__head {
  display: flex;
  align-items: center;
}
.mikea1__iframe {
  width: 615px;
  height: 382px;
  margin: 0px 110px 0px 0px;
}
.mikea1__head-info {
  margin: 0 auto;
}
.mikea1__head-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 120%;
  color: #3D3D3D;
  margin: 0px 0px 22px 0px;
}
.mikea1__head-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  color: #696969;
  margin: 0px 0px 24px 0px;
}
.mikea1__items {
  margin: 14px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
}
.mikea1__item {
  max-width: 308px;
  flex: 0 1 25%;
  margin: 22px 15px 0px 0px;
}
.mikea1__item:nth-child(4n) {
  margin: 22px 0px 0px 0px;
}
.mikea1__item-text {
  margin: 18px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3D3D3D;
  width: 265px;
}
.mikea1__button {
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.diversity {
  margin: 70px 0px 0px 0px;
  padding: 42px 0px 40px 0px;
}
.diversity__info {
  text-align: center;
}
.diversity__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #3D3D3D;
  max-width: 758px;
  margin: 15px auto 0px;
}
.diversity__img {
  margin: 30px 0 0 0px;
  text-align: center;
}

.timing {
  margin: 70px 0px 60px 0px;
  display: flex;
}
.timing__item {
  flex: 0 1 50%;
  padding: 40px 0px 0px 33px;
  margin: 0px 41px 0px 0px;
}
.timing__item:last-child {
  margin: 0px 0px 0px 0px;
}
.timing__text {
  margin: 99px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #696969;
}
.timing__buttons {
  margin: 113px 0px 52px 0px;
}
.timing__cards {
  display: flex;
  margin: 51px 0px 0px 0px;
  align-items: flex-end;
}
.timing__card1 {
  width: 258px;
  height: 335px;
  background: #3459951f;
  padding: 30px 29px 31px 20px;
  margin: 0px 10px 0px 0px;
}
.timing__card1-images {
  margin: 20px 0px 0px 0px;
}
.timing__card1-images img {
  margin: 7px 5px 0px 0px;
}
.timing__proz {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  color: #345995;
  margin: 0px 25px 0px 0px;
}
.timing__proz_green {
  font-size: 50px;
  color: #34954F;
}
.timing__proz_red {
  font-size: 50px;
  color: #DE0111;
}
.timing__card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #345995;
}
.timing__card-text_green {
  color: #34954F;
}
.timing__card-text_red {
  color: #DE0111;
}
.timing__info {
  display: flex;
}

.timing__card2 {
  width: 153px;
  height: 247px;
  background: #34954f18;
  padding: 17px 0px 0px 20px;
  margin: 0px 10px 0px 0px;
}

.timing__card3 {
  width: 153px;
  height: 201px;
  background: #de011018;
  padding: 15px 0px 0px 20px;
}
.timing__card3 img {
  margin: 45px 0px 0px 0px;
}

.timing__card2-images {
  max-width: 90px;
  margin: 48px 0px 0px 0px;
}
.timing__card2-images img {
  margin: 0px 7px 7px 0px;
}

.decision {
  margin: 50px 0px 57px 0px;
  padding: 41px 0px 78px 0px;
}
.decision__slider {
  position: relative;
}
.decision__title {
  max-width: 570px;
  text-align: center;
  margin: 41px auto 20px;
}
.decision__text {
  margin: 0px auto;
  max-width: 534px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #3D3D3D;
}
.decision__items {
  display: flex;
  justify-content: center;
  margin: 45px 0px 0px 0px;
}
.decision__item {
  flex: 0 1 25%;
  max-width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 22px 0px 0px;
}
.decision__item :last-child {
  margin: 0px 0px 0px 0px;
}
.decision__item img {
  width: 60px;
  height: 60px;
}
.decision__item p {
  margin: 19px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #3D3D3D;
}
.decision__item_big {
  max-width: 149px;
}

.layout__title {
  display: flex;
  align-items: flex-end;
  margin: 0px 0px 39px 0px;
}
.layout__main {
  padding: 0px 0px 48px 0px;
}
.layout__block {
  display: flex;
  justify-content: space-between;
  padding: 71px 39px 0px 37px;
}
.layout__text {
  max-width: 279px;
}
.layout__text img {
  margin: 0px 0px 26px 0px;
}
.layout__text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  color: #3D3D3D;
  margin: 0px 0px 16px 0px;
}
.layout__text-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #696969;
  margin: 0px 0px 50px 0px;
}
.layout__button {
  width: 300px;
  height: 68px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 155%;
  color: #696969;
  padding: 0px 33px 0px 33px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout__button span {
  margin: 18px 0px 0px 0px;
  display: none;
}

.ui-selected {
  background: rgba(52, 89, 149, 0.1);
  font-weight: bold;
  font-size: 22px;
  color: #345995;
}
.ui-selected span {
  display: inline-block;
}

.layout__examples {
  display: flex;
  padding: 100px 38px 0px 38px;
  justify-content: space-between;
}

.layout__example-body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #2B2B2B;
  padding: 0px 0px 50px 90px;
}

.layout__example-body1 {
  background: url("../images/layout/06.png") no-repeat;
}

.layout__example-body2 {
  background: url("../images/layout/07.png") no-repeat;
}

.details {
  margin: 70px 0px 70px 0px;
  padding: 56px 0px 73px 0px;
}
.details__body {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}
.details__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #3D3D3D;
  margin: 27px 0px 50px 0px;
}
.details img {
  margin: 0px 0px 75px 0px;
}

.trifle {
  text-align: center;
}
.trifle__title {
  display: inline-block;
  text-align: center;
}
.trifle__subtitle {
  margin: 20px 0px 42px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  color: #696969;
}
.trifle__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 30px 40px 30px;
}
.trifle__item {
  max-width: 390px;
  text-align: left;
  margin: 33px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  line-height: 140%;
  align-items: center;
}
.trifle__item img {
  border-radius: 5px;
}
.trifle__item-title {
  font-weight: bold;
  font-size: 22px;
  color: #3D3D3D;
  margin: 24px 0px 15px 0px;
}
.trifle__item-text {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
}

.rent {
  margin: 70px 0px 70px 0px;
  padding: 55px 49px 60px 40px;
  display: flex;
}
.rent__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 0px 0px 20px 0px;
}
.rent__subtitle_weight_normal {
  font-weight: normal;
  margin: 20px 0px 65px 0px;
}
.rent__video {
  margin: 0px 0px 0px 48px;
}

.smart {
  padding: 40px 40px 82px 40px;
}
.smart__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 48px 0px 20px 0px;
}
.smart__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 20px 0px 0px 0px;
  max-width: 420px;
}
.smart__body {
  display: flex;
  justify-content: space-between;
}
.smart__info {
  max-width: 500px;
}
.smart__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 13px 0px 0px 0px;
}
.smart__item {
  flex: 0 1 33%;
  max-width: 340px;
  margin: 53px 0px 0px 0px;
}
.smart__item-img {
  margin: 0px 0px 28px 0px;
}
.smart__item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
}
.smart__item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3D3D3D;
  margin: 22px 0px 0px 0px;
}
.smart__item-title_big_margin {
  padding: 10px 0px 0px 0px;
}
.smart__plashka {
  background: #CDDEF4;
  border-radius: 5px;
  width: 150px;
  height: 27px;
  color: #345995;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.alisa {
  margin: 70px 0px 70px 0px;
  background: #E6E7EB;
  border-radius: 6px;
  padding: 58px 53px 58px 43px;
  display: flex;
  justify-content: space-between;
}
.alisa__logotips {
  display: flex;
  align-items: flex-end;
  margin: 0px 0px 46px 0px;
}
.alisa__logo {
  margin: 0px 30px -20px -30px;
}
.alisa__hi {
  position: relative;
}
.alisa__hi-text {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16.854px;
  line-height: 140%;
  color: #FFFFFF;
}
.alisa__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 18px 0px 0px 0px;
}
.alisa__info {
  max-width: 450px;
}

.enjoy {
  text-align: center;
  margin: 0px 0px 70px 0px;
}
.enjoy__title {
  max-width: 700px;
  margin: 0 auto 40px;
}
.enjoy__body {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.enjoy__info {
  max-width: 579px;
  text-align: left;
  margin: 40px 0px 0px 0px;
  position: relative;
}
.enjoy__text {
  margin: 30px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
}
.enjoy__info-img {
  position: absolute;
  top: -38px;
  left: -29px;
}

.control {
  padding: 22px 40px 57px 43px;
}
.control__items {
  display: flex;
  flex-wrap: wrap;
}
.control__item {
  flex: 1 1 50%;
  margin: 23px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.control__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 25px 0px 0px 0px;
  max-width: 413px;
}
.control__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3D3D3D;
  margin: 26px 0px 0px 0px;
  max-width: 413px;
}
.control__title {
  margin: 20px 0px 0px 0px;
}
.control__item-plus {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 0 auto;
}
.control__item-plus-img {
  position: relative;
  flex: 0 1 10%;
  margin: 30px 0px 0px 0px;
}
.control__item-plus-check {
  position: absolute;
  top: 9px;
  left: 8px;
}
.control__item-plus-text {
  flex: 0 1 90%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 30px 0px 0px 0px;
}
.control__body {
  margin: 53px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.control__body-item {
  flex: 0 1 33%;
  max-width: 380px;
  display: inline;
}
.control__body-item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 21px 0px 0px 0px;
}
.control__body-item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3D3D3D;
  margin: 10px 0px 0px 0px;
}

.appeal {
  margin: 70px 0px 70px 0px;
  position: relative;
}
.appeal__title {
  color: #FFFFFF;
  position: absolute;
  top: 100px;
  left: 61px;
  z-index: 2;
  max-width: 469px;
}
.appeal__opaciti {
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 1;
}
.appeal__img {
  margin: 0px 0px 0px -10px;
}
.level {
  padding: 42px 43px 55px 43px;
  margin: 0px 0px 70px 0px;
}
.level__body {
  display: flex;
}
.level__body-img {
  margin: 0px 40px 0px 0px;
}
.level__body-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 50px 0px 0px 0px;
  padding: 0px 67px 0px 0px;
}
.level__items {
  margin: 26px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
}
.level__item {
  position: relative;
  max-width: 398px;
  margin: 30px 30px 0px 0px;
}
.level__item:nth-child(3n) {
  margin: 30px 0px 0px 0px;
}
.level__item-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #FFFFFF;
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 309px;
}
.level__item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin: 10px 0px 0px 0px;
}
.level__item-opaciti {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.projects {
  margin: 70px 0px 0px 0px;
  padding: 50px 30px 55px 30px;
}
.projects__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects__item {
  margin: 40px 0px 0px 0px;
  max-width: 388px;
}
.projects__item-info {
  display: flex;
}
.projects__item-plashka {
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  margin: 0px 0px 10px 0px;
}
.projects__item-plashka_title {
  width: 82px;
  background: rgba(52, 89, 149, 0.2);
  margin: 0px 11px 0px 0px;
  color: #345995;
}
.projects__item-plashka_square {
  width: 78px;
  background: rgba(222, 1, 17, 0.2);
  color: #DE0111;
}
.projects__item-plashka_img {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 52px;
  background: #345995;
  color: #FFFFFF;
}
.projects__item-plashka_img img {
  margin: 0px 4px 0px 0px;
}
.projects__item-img {
  position: relative;
}
.projects__item-place {
  display: flex;
  margin: 13px 0px 0px 0px;
}
.projects__item-adress {
  margin: 0px 0px 0px 11px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3D3D3D;
}
.projects__item-details {
  display: flex;
  justify-content: space-between;
}
.projects__item-polzunok {
  position: relative;
}
.projects__item-polzunok-body {
  margin: 25px 0px 0px 0px;
  width: 100%;
  height: 7px;
  background: #D0D0D0;
  border-radius: 10px;
}
.projects__item-polzunok-body_plashka {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  background: #345995;
  margin: 0;
}
.projects__item-polzunok-body_plashka2 {
  width: 100%;
}
.projects__item-polzunok-body_plashka3 {
  width: 60%;
}
.projects__item-phraza {
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #696969;
}

.orderframe {
  padding: 40px 0px 40px 0px;
  position: relative;
  margin: 0px 0px 70px 0px;
}
.orderframe__info {
  max-width: 600px;
  margin: 0px 0px 0px 44px;
}
.orderframe__subtitle {
  margin: 20px 0px 30px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  color: #8C8C8C;
}
.orderframe__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 0px 0px 44px 0px;
}
.orderframe__img {
  position: absolute;
  top: 42px;
  right: 0;
}
.orderframe__items {
  display: flex;
  padding: 56px 15px 0 15px;
}

.mainform {
  margin: 0px 0px 70px 0px;
  position: relative;
}
.mainform__body {
  width: 377px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 6px;
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 34px 0px 0px 47px;
}
.mainform__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: #3D3D3D;
  margin: 0px 0px 25px 0px;
}

.form__input {
  width: 280px;
  height: 50px;
  background: #3459951f;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 10px;
}

.footer {
  background: #3D3D3D;
  padding: 63px 50px 22px 50px;
}
.footer__logo {
  margin: 0px 0px 34px 0px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
}
.footer__item a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 80%;
  display: block;
  margin: 0px 0px 20px 0px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.7);
}
.footer__link_bold {
  font-weight: 500;
  color: #FFFFFF;
}
.footer__social-icon {
  margin: 0px 24px 0px 0px;
}
.footer__social-icon:last-child {
  margin: 0px 0px 0px 0px;
}
.footer__adress {
  margin: 0px 0px 31px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 0px 10px 0px 0px;
}
.footer__adress_tel {
  font-weight: bold;
}
.footer__line {
  margin: 30px 0px 42px 0px;
  width: 100%;
  height: 2px;
  background: #696969;
}
.footer__copirait {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 80%;
  color: rgba(255, 255, 255, 0.7);
}

.kdm {
  display: flex;
}
.kdm img {
  margin: 0px 13px 0px 0px;
}
.kdm p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}