* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.orderframe {
  padding: 40px 0px 40px 0px;
  position: relative;
  margin: 0px 0px 70px 0px;
}
.orderframe__info {
  max-width: 600px;
  margin: 0px 0px 0px 44px;
}
.orderframe__subtitle {
  margin: 20px 0px 30px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  color: #8C8C8C;
}
.orderframe__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #3D3D3D;
  margin: 0px 0px 44px 0px;
}
.orderframe__img {
  position: absolute;
  top: 42px;
  right: 0;
}
.orderframe__items {
  display: flex;
  padding: 56px 15px 0 15px;
}