@import "null.scss";
@import "mixins.scss";

.diversity{
	margin: 70px 0px 0px 0px;
	padding: 42px 0px 40px 0px;
	
	&__info{
		text-align: center;
	}
	&__text{
		@include font-style;
		font-size: 22px;
		line-height: 150%;
		color: #3D3D3D;
		max-width: 758px;
		margin: 15px auto 0px;
	}
	&__img{
		margin: 30px 0 0 0px;
		text-align: center;
	}
}