@import "null.scss";
@import "mixins.scss";

.frame{
	height: 52px;
	margin: 20px auto;
	@include flexbox();
	align-items: center;
	justify-content: center;
	display: none;
	p{
		margin: 0px 30px 0px 0px;
		@include font-style;
		font-size: 16px;
		line-height: 150%;
		color: #3D3D3D;
	}
}