@import "null.scss";

.reviews{
	margin: 70px auto 0px;
	max-width: 1110px;
	position: relative;
	transform: translate(-120%, 0px);
	transition: all 1.5s ease 0s;
}
.reviews.active{
	transform: translate(0px, 0px);
}