.slider{
	max-width: 1110px;
	&__item{
		display: flex;
		max-width: 1110px;
		max-height: 450px;
		margin: 0 auto;
		padding: 70px 108px 70px 114px;
		position: relative;
	}
	&__item-quotes{
		position: absolute;
		top: 32px;
		left: 60px;
	}
	&__item-title{
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		line-height: 120%;
		color: #3D3D3D;
	}
	&__item-text{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 140%;
		display: flex;
		align-items: center;
		color: #696969;
		margin: 19px 0px 0px 0px;
	}
	&__item-main{
		display: flex;
		justify-content: space-between;
		margin: 35px 0px 0px 0px;
	}
}

//=======================================================>
.slick-track{
	display: flex;
}
.slick-list{
	overflow: hidden;
}