.slider{
	max-width: 1110px;
	&__item{
		display: flex;
		max-width: 1110px;
		max-height: 450px;
		margin: 0 auto;
		padding: 70px 108px 70px 114px;
		position: relative;
	}
	&__item-quotes{
		position: absolute;
		top: 32px;
		left: 60px;
	}
	&__item-title{
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		line-height: 120%;
		color: #3D3D3D;
	}
	&__item-text{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 140%;
		display: flex;
		align-items: center;
		color: #696969;
		margin: 19px 0px 0px 0px;
	}
	&__item-main{
		display: flex;
		justify-content: space-between;
		margin: 35px 0px 0px 0px;
	}
}

//=======================================================>
.slick-track{
	display: flex;
}
.slick-list{
	overflow: hidden;
}
//============================================================>

.slider2{
	&__item{
		max-width: 1095px;
		max-height: 724px;
		position: relative;
	}
}




//============================================================>
.slider__item_decision{
	margin: 38px auto 0px;
	background: #3459951f;
	position: relative;
	width: 1095px;
	height: 724px;
}
.slider__item_decision-body{
	position: absolute;
	top: -50px;
	left: 0;
	img{
	}
}
.slider__item_decision-plashka{
	background: #DE0111;
	border-radius: 5px;
	height: 36px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	display: inline-flex;
	padding: 0px 22px 0 22px;
	align-items: center;
	cursor: pointer;
	&_besedka{
		top: 33%;
		left: 15%;
	}
	&_mikea5{
		top: 20%;
		left: 38%;
	}
	&_banya{
		top: 47%;
		left: 27%;
	}
	&_naves{
		top: 34%;
		left: 71%;
	}
}