@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

.slick-prev{
	width: 56px;
	height: 56px;
	border-radius:50%;
	background: #3459951f;
	font-size: 0;
	line-height: 0;
	position: absolute;
    top: 50%;
	 transform: translate(0, -50%);
	 -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
	 left: -76px;
}
.slick-prev img{
	position: absolute;
	top: 14px;
	left: 17px;
}

.slick-next{
	width: 56px;
	height: 56px;
	border-radius:50%;
	background: #3459951f;
	font-size: 0;
	line-height: 0;
	position: absolute;
    top: 50%;
	 -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
	 right: -76px;
}
.slick-next img{
	position: absolute;
	top: 14px;
	left: 21px;
}

/*=============================================================>*/
.slick-prev2{
	width: 56px;
	height: 56px;
	border-radius:50%;
	background: #3459951f;
	font-size: 0;
	line-height: 0;
	position: absolute;
    top: 50%;
	 transform: translate(0, -50%);
	 -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
	 left: -76px;
}
.slick-prev2 img{
	position: absolute;
	top: 14px;
	left: 17px;
}
.slick-next2{
	width: 56px;
	height: 56px;
	border-radius:50%;
	background: #3459951f;
	font-size: 0;
	line-height: 0;
	position: absolute;
    top: 50%;
	 -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
	 right: -76px;
}
.slick-next2 img{
	position: absolute;
	top: 14px;
	left: 21px;
}



/* Dots */
.slick-dots
{
    display: none;
	 opacity: 0;
}


